{%extends 'all_posts/base.html'%}

{% block content %}
{{block.super}}

<body>
  <div class="" style="margin:2%;">
    <style media="screen">
      @media only screen and (max-width: 600px) {
        #img {
          width:80vw;
        }
      }
    </style>
    <div class="row">
      {% for project in projects %}
        <div class="" style='float:left;margin:1%;'>
          <h3> {{ project.title }} </h3>
          <img id="img" src="{{project.image.url}}" alt="Project Pic"style="width:412px;height:360px;">
          <p>Posted <strong>{{project.pub_date|timesince}}</strong> ago</p>
          <p>by <strong>{{project.profile.user}}</strong></p>
          <a href="{%url 'delete' project.id %}" class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-trash" style="width:50px;font-size:20px;"></i>
          </a>
          <a href="{%url 'new_review' %}"class="btn btn-default btn-sm" id="like">
            <i class="glyphicon glyphicon-pencil" style="width:50px;font-size:20px;">Rate</i>
          </a>
          <p>{{overall}}</p>
        </div>
      {%endfor%}
     </div>
  </div>
  <footer style="color: white;text-align: center;background-color:rgb(40,0,20);">
    <div class="">

    </div>
    <p style="padding-top:50px;">Copyright (c) 2019</p>
    <p>Juru-10</p>
    <hr style="width:50%;">
  </footer>
</body>

{% endblock %}
